<body>



    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center flex-column" style="margin-top: 30px;">
                <div>
                    <h2 style="font-weight: 800;">Let's get in touch</h2>
                </div>
                <hr class="customHr"><br>
            </div>
            <div class="col-12 text-center">
                <p style="color: white;">Please call us for any enquiry or write us an e-mail</p><br><br>
            </div>

            <div class="col-md-6 text-center">
                <i class="fa fa-phone" style="font-size: 5em;"></i>
                <div>
                    <p><a href="tel:+917545486604">+91-7545866604</a></p>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <i class="fa fa-envelope" style="font-size: 5em;"></i>
                <div>
                    <p><a href="mailto:shankarojha34@gmail.com">changeit@gmail.com</a></p>
                </div>
            </div>
        </div>   
    </div>


    <div class="row linkRow">
        <div class="col-12 d-flex flex-direction-row justify-content-center align-items-center">
            <div class="col-4 d-flex flex-direction-row justify-content-center align-items-center">
                <a routerLink="/policy">
                    <p>Privacy Policy</p>
                </a>
            </div>

            <div class="col-4 d-flex flex-direction-row justify-content-center align-items-center">
                <a routerLink="/policy/disclaimer">
                    <p>Disclaimer</p>
                </a>
            </div>

            <div class="col-4 d-flex flex-direction-row justify-content-center align-items-center">
                <a routerLink="/policy/terms-of-use">
                    <p>Terms of use</p>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="hr-line"></div>
    </div>


    <div class="row">
        <hr style="height:2px;border-width:0;color:rgb(255, 255, 255);background-color:rgb(255, 255, 255)">
        <div class="col-12 d-flex justify-content-center align-items-center footerBanner">
            <a routerLink="/home">
                <p><i class="fa fa-copyright"></i>&nbsp;essindia.co.in</p>
            </a>
        </div>
    </div>

</body>