<app-navbar></app-navbar>

<div class="container d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 text-center"><h1>Disclaimer</h1></div>
            </div>
            <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will:</p>
                <br><br>
                <p class="">1. Limit or exclude our or your liability for death or personal injury;<br>
                    2. Limit or exclude our or your liability for fraud or fraudulent misrepresentation;<br>
                    3. Limit any of our or your liabilities in any way that is not permitted under applicable law; or<br>
                    4. Exclude any of our or your liabilities that may not be excluded under applicable law.</p>
                <br>

                <p>The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.<br></p>
                <p>As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.</p>
        </div>
    </div>
</div>

<app-footer></app-footer>