<header>
  <app-navbar></app-navbar>
</header>

<body>
  <img style="width: 100%;" src="../../../assets/banners/integrated-security-banner.jpg" alt="">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-12">
        <div class="row">
          <div class="col-12 col-md-8 pt-5">
            <p style="text-align: justify;">
              We are well organized, experienced security agency, engaged in business commercially. We are providing well experienced Ex-Defence officer/staff & other dedicated professionally trained security personnel. We provide total integrated security system, which are also well equipped to handle your future expansions & emergencies.
              A company that believes in maintaining high order supervision on the personnel involved at grass root levels. A battery
              of highly qualified Operational Managers gives result at 100% efficiency levels of every individual. Special emphasis is
              laid on smartness in turnout and attitude of each individual through daily briefings.An ISO company and the  member of  CAPSI , we have a highly trained security force of 5,000+ professionals who are known for their vigilance and agility in handling any sort of mishap and mitigating all kinds of risks.
            </p>
          </div>
          <div class=" d-none d-md-block col-4 pt-5 text-center">
            <div data-aos="fade-left" data-aos-duration="1000" class="row siteImage">
              <img src="../../../assets/personal_page/isecurity.jpg" />
            </div>
            <div data-aos="fade-left" data-aos-duration="1000" class="mt-5 row siteImage">
              <img src="../../../assets/personal_page/integrated Sec.jpeg" />
            </div>
            <div data-aos="fade-left" data-aos-duration="1000" class=" mt-5 row siteImage">
              <img src="../../../assets/personal_page/isecurity.jpg" />
            </div>
          </div>
          <!-- Mobile only-->
          <div class=" d-block d-md-none row pt-5 text-center">
            
              <img class="col-4 siteImage" data-aos="fade-left" data-aos-duration="1000" src="../../../assets/personal_page/isecurity.jpg" />
            
            
              <img class="col-4 siteImage" data-aos="fade-up" data-aos-duration="1000" src="../../../assets/personal_page/integrated Sec.jpeg" />
            
            
              <img class="col-4 siteImage" data-aos="fade-right" data-aos-duration="1000" src="../../../assets/personal_page/isecurity.jpg" />
            
          </div>
        </div>
      </div>
      <div class="col-12 pt-5">
        <hr class="hr-text" data-content="Services">
        <br>

        <div class="row m-0">

          <div data-aos="fade-right" data-aos-duration="1000" class="col-md-4 p-2">
            <svg xmlns="http://www.w3.org/2000/svg" style="color: #f1652b" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
              <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </svg>
            <span class="ml-2 servicesText">
              Manned Guarding
            </span>
          </div>

          <div data-aos="fade-right" data-aos-duration="1000"  class="col-md-4 p-2">
            <svg xmlns="http://www.w3.org/2000/svg" style="color: #f1652b" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
              <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </svg>
            <span class="ml-2 servicesText">
              Canine Squads
            </span>
          </div>


          <div data-aos="fade-right" data-aos-duration="1000"  class="col-md-4 p-2">
            <svg xmlns="http://www.w3.org/2000/svg" style="color: #f1652b" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
              <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </svg>
            <span class="ml-2 servicesText">
              Security Survey & Consulting

            </span>
          </div>


          <div data-aos="fade-right" data-aos-duration="1000"  class="col-md-4 p-2  ">
            <svg xmlns="http://www.w3.org/2000/svg" style="color: #f1652b" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
              <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </svg>
            <span class="ml-2 servicesText">
              Threat Risk Analysis

            </span>
          </div>


          <div data-aos="fade-right" data-aos-duration="1000"  class="col-md-4 p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-circle-fill" style="color: #f1652b" viewBox="0 0 16 16">
              <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </svg>
            <span class="ml-2 servicesText">
              Critical Vulnerability Analysis
            </span>
          </div>

          <div data-aos="fade-right" data-aos-duration="1000"  class="col-md-4 p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-circle-fill" style="color: #f1652b" viewBox="0 0 16 16">
              <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </svg>
            <span class="ml-2 servicesText">Special Protection Officers
            </span>
          </div>
          <div data-aos="fade-right" data-aos-duration="1000"  class="col-md-4 p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-circle-fill" style="color: #f1652b" viewBox="0 0 16 16">
              <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </svg>
            <span class="ml-2 servicesText">
              Executive Protection
            </span>
          </div>
          <div data-aos="fade-right" data-aos-duration="1000"  class="col-md-4 p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-circle-fill" style="color: #f1652b" viewBox="0 0 16 16">
              <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </svg>
            <span class="ml-2 servicesText">
              Security Arrangement at Special Events
            </span>
          </div>
          <div data-aos="fade-right" data-aos-duration="1000" class="col-md-4 p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-circle-fill" style="color: #f1652b" viewBox="0 0 16 16">
              <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </svg>
            <span class="ml-2 servicesText">
              Electronic Safety & Security System
            </span>
          </div>
          <div data-aos="fade-right" data-aos-duration="1000" class="col-md-4 p-2 mb-5">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-circle-fill" style="color: #f1652b" viewBox="0 0 16 16">
              <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </svg>
            <span class="ml-2 servicesText">
              Security Automation System
            </span>
          </div>

        </div>
        </div>
      <!--
            <div class="d-none d-md-block col-md-3 text-center">
                <div *ngFor="let item of ourServices">
                    <a routerLink="/services/{{ item.service | removespace }}" class="card-title">
                        <h4>{{ item.service }}</h4>
                    </a>
                    <hr />
                </div>
            </div>
            -->
    </div>
  </div>
</body>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Contact us</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container pt-5">
          <div class="row">
            <div class="col-12" id="form-col">
              <form class="pt-5 pb-5">
                <div class="form-group">
                  <label for="name">Name <i class="fa fa-user"></i></label>
                  <input class="form-control" type="text" placeholder="" />
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address <i class="fa fa-envelope"></i></label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Message <i class="fa fa-comment"></i></label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button data-dismiss="modal" type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

