<app-navbar></app-navbar>


<div class="container">
    <div class="row">
      <div class="col-12 mt-5">
        <h2 style="text-align: center;">Why Choose Us</h2><br>
        <div class="row">

          <div class="col-md-4  p-2  " data-aos="fade-left" data-aos-duration="1000">
            <div class="card card-T1">
              <div class="card-body servicesCard">
                <div class="row m-0 w-100">
                  <div class="col-md-12 text-center">
                    <p style="font-weight: 800; font-size: 2em;">One stop Service Provider</p>
                  </div>

                  <div class="col-md-12 d-flex justify-content-center align-items-center">
                    <img class="cardIcons" src="../../assets/customer-service.png" style="color: red;">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4  p-2  " data-aos="fade-right" data-aos-duration="1000">
            <div class="card card-T2">
              <div class="card-body servicesCard">
                <div class="row m-0 w-100">
                  <div class="col-md-12 text-center">
                    <p style="font-weight: 800; font-size: 2em;">Verified<br>professionals</p>
                  </div>

                  <div class="col-md-12 d-flex justify-content-center align-items-center">
                    <img class="cardIcons" src="../../assets/verify.png" style="color: red;">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4  p-2  " data-aos="fade-left" data-aos-duration="1000">
            <div class="card card-T1">
              <div class="card-body servicesCard">
                <div class="row m-0 w-100">
                  <div class="col-md-12 text-center">
                    <p style="font-weight: 800; font-size: 2em;">IN-House Training Academy</p>
                  </div>

                  <div class="col-md-12 d-flex justify-content-center align-items-center">
                    <img class="cardIcons" src="../../assets/training.png" style="color: red;">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4  p-2  " data-aos="fade-right" data-aos-duration="1000">
            <div class="card card-T2">
              <div class="card-body servicesCard">
                <div class="row m-0 w-100">
                  <div class="col-md-12 text-center">
                    <p style="font-weight: 800; font-size: 2em;">Certified<br>Professionals</p>
                  </div>

                  <div class="col-md-12 d-flex justify-content-center align-items-center">
                    <img class="cardIcons" src="../../assets/certificate.png" style="color: red;">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4  p-2  " data-aos="fade-left" data-aos-duration="1000">
            <div class="card card-T1">
              <div class="card-body servicesCard">
                <div class="row m-0 w-100">
                  <div class="col-md-12 text-center">
                    <p style="font-weight: 800; font-size: 2em;">Highest Quality Control</p>
                  </div>

                  <div class="col-md-12 d-flex justify-content-center align-items-center">
                    <img class="cardIcons" src="../../assets/quality-control.png" style="color: red;">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4  p-2  " data-aos="fade-right" data-aos-duration="1000">
            <div class="card card-T2">
              <div class="card-body servicesCard">
                <div class="row m-0 w-100">
                  <div class="col-md-12 text-center">
                    <p style="font-weight: 800; font-size: 2em;">Discipline & Compliance<br></p>
                  </div>

                  <div class="col-md-12 d-flex justify-content-center align-items-center">
                    <img class="cardIcons" src="../../assets/handshake.png" style="color: red;">
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>



      </div>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">Contact us</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container pt-5">
            <div class="row">
              <div class="col-12" id="form-col">
                <form class="pt-5 pb-5">
                  <div class="form-group">
                    <label for="name">Name <i class="fa fa-user"></i></label>
                    <input class="form-control" type="text" placeholder="" />
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address <i class="fa fa-envelope"></i></label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Message <i class="fa fa-comment"></i></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                  <button data-dismiss="modal" type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


<app-footer></app-footer>