<header>
  <app-navbar></app-navbar>
</header>

<body>
  <img style="width: 100%;" src="../../../assets/banners/supplychain-banner.jpg" alt="">
  <div class="container mt-5">
    <div class="row">
      

      <div class="col-12">
        <div class="col-12 col-md-12">
          <div class="row">
            <div class="col-12 col-md-8 pt-5">
              <p style="text-align: justify;">
                We are an Integrated Facility Management company that offers Technical, Housekeeping, Security,
              Horticulture and
              other plethora of services across Commercial, Residential, School, University, Hospital, Hotel, Resort and
              Retail space.

              Our team brings with it significant and unmatched domain expertise, in-depth knowledge of the systems and
              vast experience. Each one of our high-quality, professional staff undergoes rigorous training processes,
              allowing them to work efficiently using a proven program management approach.
              Being quality-conscious organization, we ensure that all our services are at par with the set industry
              norms. In order to maintain consistent level of quality in our services, Our quality inspectors, our
              quality controllers employ vigorous quality assessment tasks, right from the training.

              We are continuously climbing the ladders of success in the hospitality business, as we are an expert in
              suggesting
              practical and cost effective solutions, after correctly assessing the problem areas to our clients. Our
              teams of expert
              people have the required knowledge and skills to work under any situations effectively. The sincere
              efforts of our team,
              aids in offering effective maintenance and professional services to the corporate.
              </p>
            </div>
            <div class=" d-none d-md-block col-4 pt-5 text-center">
              <div data-aos="fade-left" data-aos-duration="1000" class="row siteImage">
                <img src="../../../assets/personal_page/supply_chain_kl.jpg" />
              </div>
              <div data-aos="fade-left" data-aos-duration="1000" class="mt-5 row siteImage">
                <img src="../../../assets/personal_page/supply_chain_3.jpg" height="400px"/>
              </div>
              <div data-aos="fade-left" data-aos-duration="1000" class=" mt-5 row siteImage">
                <img src="../../../assets/personal_page/supply_chain_2.jpg" />
              </div>
            </div>
            <!-- Mobile only-->
            <div class=" d-block d-md-none row pt-5 text-center">
  
              <img class="col-4 siteImage" data-aos="fade-left" data-aos-duration="1000"
                src="../../../assets/personal_page/supply_chain_kl.jpg" />
  
  
              <img class="col-4 siteImage" data-aos="fade-up" data-aos-duration="1000"
                src="../../../assets/personal_page/supply_chain_2.jpg" />
  
  
              <img class="col-4 siteImage" data-aos="fade-right" data-aos-duration="1000"
                src="../../../assets/personal_page/supply_chain_3.jpg" />
  
            </div>
          </div>
        </div>
      </div>
      <!--
            <div class="d-none d-md-block col-md-3 text-center">
                <div *ngFor="let item of ourServices">
                    <a routerLink="/services/{{ item.service | removespace }}" class="card-title">
                        <h4>{{ item.service }}</h4>
                    </a>
                    <hr />
                </div>
            </div>
            -->
    </div>

    <!-- SERVICES-->

    <div class="col-12 pt-5 mb-1">
      <br>
      <hr class="hr-text" data-content="Services">

      <div class="row m-0 d-flex justify-content-center">

        <div class="col-lg-4 col-md-6  p-2 ">
          <div class="card" style="width: 18rem;">
            <div class="card-body servicesCard">
              <div class="row m-0 w-100">
                <div style="font-weight: 800;" class="col-md-8 d-flex align-items-center justify-content-center">
                  <!-- <h5 class="card-title align-self-center">Housekeeping</h5> -->
                  WAREHOUSING
                </div>

                <div class="col-md-4 d-flex align-items-center justify-content-center">
                  <img class="cardIcons" src="./../../../assets/124434.png " width="40" height="40" style="color: red;">
                </div>
              </div>

              


              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <p class="card-text text-center hiddenCardText" style="font-size: small;">
                We focus on automated warehousing (AS/RS) that help us to identify main component for the
                warehousing need that vary
                client to client which improves intensity and stiffness for the material safety. We ensure
                mechanism for product
                protection, no or less injury, proper floor space usage. Willing to optimize your warehousing
                operation , come to know
                us and our initiative.
              </p>
              <!-- <a href="#" class="card-link">Card link</a> -->
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6  p-2 ">
          <div class="card" style="width: 18rem;">
            <div class="card-body servicesCard">
              <div class="row m-0 w-100">
                <div style="font-weight: 800;" class="col-md-8 d-flex align-items-center justify-content-center">
                  <!-- <h5 class="card-title align-self-center">Housekeeping</h5> -->
                  TRANSPORTATION
                </div>

                <div class="col-md-4 d-flex align-items-center justify-content-center">
                  <img class="cardIcons" src="./../../../assets/delivery.png " width="40" height="40" style="color: red;">
                </div>
              </div>

              


              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <p class="card-text text-center hiddenCardText" style="font-size: small;">
                We focus on automated warehousing (AS/RS) that help us to identify main component for the
                warehousing need that vary
                client to client which improves intensity and stiffness for the material safety. We ensure
                mechanism for product
                protection, no or less injury, proper floor space usage. Willing to optimize your warehousing
                operation , come to know
                us and our initiative.
              </p>
              <!-- <a href="#" class="card-link">Card link</a> -->
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6  p-2 ">
          <div class="card" style="width: 18rem;">
            <div class="card-body servicesCard">
              <div class="row m-0 w-100">
                <div style="font-weight: 800;" class="col-md-8 d-flex align-items-center justify-content-center">
                  <!-- <h5 class="card-title align-self-center">Housekeeping</h5> -->
                  E-COMMERCE
                </div>

                <div class="col-md-4 d-flex align-items-center justify-content-center">
                  <img class="cardIcons" src="./../../../assets/international-e-commerce.png " width="40" height="40" style="color: red;">
                </div>
              </div>


              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <p class="card-text text-center hiddenCardText" style="font-size: small;">
                We focus on automated warehousing (AS/RS) that help us to identify main component for the
                warehousing need that vary
                client to client which improves intensity and stiffness for the material safety. We ensure
                mechanism for product
                protection, no or less injury, proper floor space usage. Willing to optimize your warehousing
                operation , come to know
                us and our initiative.
              </p>
              <!-- <a href="#" class="card-link">Card link</a> -->
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</body>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Contact us</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container pt-5">
          <div class="row">
            <div class="col-12" id="form-col">
              <form class="pt-5 pb-5">
                <div class="form-group">
                  <label for="name">Name <i class="fa fa-user"></i></label>
                  <input class="form-control" type="text" placeholder="" />
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address <i class="fa fa-envelope"></i></label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Message <i class="fa fa-comment"></i></label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button data-dismiss="modal" type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
