<header>
    <app-navbar></app-navbar>
  </header>

<body>
    <div class="container-fluid d-flex align-items-center justify-content-center" id="banner">
        <div class="row">
            <div class="col-12">
                Supply Chain
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="../../../assets/personal page/supply chain.jpg">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pt-5">
                        <p>
                            We at ESS make all the possibilities to stand behind the customer solution for all of the supply chain
                            operations. ESS have an enviable reputation working with many leading companies on supply chain and
                            logistics projects.Our supply chain platform and logistics operations bring flexibility, breadth, efficiency and
                            innovation to our customers.As part of our vision we also aim to enable businesses and individuals across India with
                            tools to participate in the huge digital supply chain opportunity of the future.
                        </p>
                    </div>



          <div class="col-12 pt-5 mb-1">
            <!-- <h2>Services</h2> -->
            <br>
            <hr class="hr-text" data-content="Services">
  
            <div class="row m-0 d-flex justify-content-center">
  
              <div class="col-md-4  p-2 ">
                <div class="card" style="width: 18rem;" >
                  <div class="card-body">
                    <div class="row m-0 w-100">
                      <div class="col-md-8 d-flex align-items-center">
                        <!-- <h5 class="card-title align-self-center">Housekeeping</h5> -->
                        WAREHOUSING
                      </div>

                      <div class="col-md-4"> 
                        <img src="./../../../assets/124434.png " width="40" height="40" style="color: red;"  >
                        </div>
                    </div>

                    <hr>
                  
                    
                    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                    <p class="card-text text-muted " style="font-size: small;">
                        We focus on automated warehousing (AS/RS) that help us to identify main component for the warehousing need that vary
                        client to client which improves intensity and stiffness for the material safety. We ensure mechanism for product
                        protection, no or less injury, proper floor space usage. Willing to optimize your warehousing operation , come to know
                        us and our initiative.
                    </p>
                    <!-- <a href="#" class="card-link">Card link</a> -->
                    <!-- <a href="#" class="card-link">Another link</a> -->
                  </div>
                  </div>
             
              </div>
              <div class="col-md-4 d-none p-2 ">
                <div class="card" style="width: 18rem;" >
                  <div class="card-body">
                    <div class="row m-0 w-100">
                      <div class="col-md-8 d-flex">
                        <!-- <h5 class="card-title align-self-center">Housekeeping</h5> -->
                        PROJECT MANAGEMENT
                      </div>

                      <div class="col-md-4">
                        <img src="./../../../assets/warehouse.png " width="40" height="40"  >
                        </div>
                    </div>
                  
                    
                    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <!-- <a href="#" class="card-link">Card link</a> -->
                    <!-- <a href="#" class="card-link">Another link</a> -->
                  </div>
                  </div>
             
              </div>

              <div class="col-md-4  p-2 ">
                <div class="card" style="width: 18rem;" >
                  <div class="card-body">
                    <div class="row m-0 w-100">
                      <div class="col-md-8 d-flex align-items-center">
                        <!-- <h5 class="card-title align-self-center">Housekeeping</h5> -->
                        TRANSPORTAION
                      </div>

                      <div class="col-md-4">
                        <img src="./../../../assets/delivery.png" width="40" height="40"  >
                        </div>
                    </div>
                  
                    
                    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <!-- <a href="#" class="card-link">Card link</a> -->
                    <!-- <a href="#" class="card-link">Another link</a> -->
                  </div>
                  </div>
             
              </div>

              <div class="col-md-4  p-2 ">
                <div class="card" style="width: 18rem;" >
                  <div class="card-body">
                    <div class="row m-0 w-100">
                      <div class="col-md-8 d-flex align-items-center">
                        <!-- <h5 class="card-title align-self-center">Housekeeping</h5> -->
                        E-COMMERECE                   </div>

                      <div class="col-md-4">
                        <img src="./../../../assets/international-e-commerce.png" width="40" height="40"  >
                        </div>
                    </div>
                  
                    
                    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <!-- <a href="#" class="card-link">Card link</a> -->
                    <!-- <a href="#" class="card-link">Another link</a> -->
                  </div>
                  </div>
             
              </div>
              


  
            </div>
            </div>


                </div>
            </div>
            <!--
            <div class="d-none d-md-block col-md-3 text-center">
                <div *ngFor="let item of ourServices">
                    <a routerLink="/services/{{ item.service | removespace }}" class="card-title">
                        <h4>{{ item.service }}</h4>
                    </a>
                    <hr />
                </div>
            </div>
            -->
        </div>




    </div>
</body>