<app-navbar></app-navbar>

<div class="container d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-12 text-center text-align-justify">
            <h1>Terms of use</h1>
            <p>These terms and conditions outline the rules and regulations for the use of ESS Facility Management
                Pvt. Ltd.’s Website, located at https://ess.co.in/.<br>

                The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice
                and all Agreements: “Client”, “You” and “Your” refers to you, the person log on this website and
                compliant to the Company’s terms and conditions. “The Company”, “Ourselves”, “We”, “Our” and “Us”,
                refers to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves. All terms
                refer to the offer, acceptance and consideration of payment necessary to undertake the process of our
                assistance to the Client in the most appropriate manner for the express purpose of meeting the Client’s
                needs in respect of provision of the Company’s stated services, in accordance with and subject to,
                prevailing law of Netherlands. Any use of the above terminology or other words in the singular, plural,
                capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.
            </p>
            <br><br>
            <h1>Cookies</h1>
            <p>We employ the use of cookies. By accessing ESS Group, you agreed to use cookies in agreement with the
                ESS Facility Management Pvt. Ltd.’s Privacy Policy.

                Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are
                used by our website to enable the functionality of certain areas to make it easier for people visiting
                our website. Some of our affiliate/advertising partners may also use cookies.</p>
            <br><br>
            <h1>License</h1>
            <p>Unless otherwise stated, ESS Facility Management Pvt. Ltd. and/or its licensors own the intellectual
                property rights for all material on ESS Group. All intellectual property rights are reserved. You may
                access this from ESS Group for your own personal use subjected to restrictions set in these terms and
                conditions.</p>
            <br><br>
            <h1>You must not:</h1>
            <p> · Republish material from ESS Group<br>
                · Sell, rent or sub-license material from ESS Group<br>
                · Reproduce, duplicate or copy material from ESS Group<br>
                · Redistribute content from ESS Group</p><br><br>


            <h1>You warrant and represent that:</h1>
            <p> · You are entitled to post the Comments on our website and have all necessary licenses and consents to
                do so;<br>
                · The Comments do not invade any intellectual property right, including without limitation copyright,
                patent or trademark of any third party;<br>
                · The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful
                material which is an invasion of privacy<br>
                · The Comments will not be used to solicit or promote business or custom or present commercial
                activities or unlawful activity.</p><br><br>

                <h1>Reservation of Rights</h1>
            <p>We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amen these terms and conditions and it’s linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.</p>
        </div>
    </div>
</div>

<app-footer></app-footer>