.afterNav{
    overflow-x: hidden;
}
h2{
    font-size: 3em;
    font-weight: 800;
}
.paragraph-custom{
    font-size: 1.5em;
}

.car-inner-custom{
    position: relative;
    background: rgb(3, 4, 93);
    
}

.car-image{
    z-index: 2;
    height: 90vh;
    opacity: 0.4;
}


.carousel-indicators > li {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #404040;
  }

.car-item1-custom{
    height: 90vh;
    z-index: 10;
}

.carousel-text-col{
    z-index: 10;
    overflow:hidden;
}

.carousel-text{
    font-family: 'Ubuntu', sans-serif;
    color: rgb(255, 255, 255);
    z-index: 10;
    position: absolute;
    font-size: 4em;
    padding: 20px;
}

.carousel-text p{
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff
}

.navbarFixed{
    position: fixed;
    width: 100%;
    z-index: 20;
}


#whoweare{
    background: #212443;
    color: rgb(255, 255, 255);
    padding: 80px;
}

.strongText{
    margin-bottom: 15px;
}

#testimonials{
    background: rgb(250, 250, 250);
}

#form-col{
    background:black;
    color:white;
}

.form-group{
    font-size: 1.5em;
}

#icon-whatwedo{
    height: 10vh;
}



@media only screen and (max-width:576px) {
    .carousel-text{
        font-size: 2em;
    }

    .carouselButton{
        font-size: 0.5em;
    }

    h2{
        font-size: 2em;
        font-weight: 800;
    }
    .paragraph-custom{
        font-size: 1em;
    }
    .form-group{
        font-size: 1em;
    }
    .navbarFixed{
        position: fixed;
        width: 100%;
        z-index: 20;
    }

    #whatwedo-image{
        max-width: 90vw;
    }
  }

@media only screen and (min-width:577px) and (max-width:992px){
    .carousel-text{
        font-size:2em;
    }
    .carouselButton{
        font-size: 0.5em;
    }

    h2{
        font-size: 2em;
        font-weight: 800;
    }
    .paragraph-custom{
        font-size: 1em;
    }
    .form-group{
        font-size: 1em;
    }
    .navbarFixed{
        position: fixed;
        width: 100%;
        z-index: 20;
    }
    #whatwedo-image{
        max-width: 90vw;
    }
}


#demo {
    background: linear-gradient(112deg, #f1f0f0 50%, rgb(215, 230, 250) 50%);
    max-width: 900px;
    margin: auto
}

.carousel-caption {
    position: initial;
    z-index: 10;
    padding: 3rem 5rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5rem;
    /* margin-bottom:1rem; */
}
.carousel-caption p {
   height: 15vh;
 /* margin-bottom:2rem; */
}
@media(max-width:767px) {
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: red;
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem
    }

    .carousel-caption p {
        height: auto;
     }
}

.carousel-caption img {
    width: 6rem;
    border-radius: 5rem;
    margin-top: 2rem
    /* padding-top: 1rem; */
}

@media(max-width:767px) {
    .carousel-caption img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem
    }
}

#image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem
}

@media(max-width:767px) {
    #image-caption {
        font-style: normal;
        font-size: 0.6rem;
        margin-top: 0.5rem
    }
}

/* i {
    background-color: rgb(223, 56, 89);
    padding: 1.4rem
} */

@media(max-width:767px) {
    i {
        padding: 0.8rem
    }
}

.carousel1-control-prev {
    justify-content: flex-start
}

.carousel1-control-next {
    justify-content: flex-end
}

.carousel-control-prev,
.carousel-control-next {
    transition: none;
    opacity: unset
}


@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.service-1 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.service-1 h1,
.service-1 h2,
.service-1 h3,
.service-1 h4,
.service-1 h5,
.service-1 h6 {
  color: #3e4555;
}

.service-1 .font-weight-medium {
  font-weight: 500;
}
.service-1 .font-weight-large {
    font-weight: 900;
  }
.service-1 .bg-light {
  background-color: #f4f8fa !important;
}

.service-1 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.card:hover {
    transform: scale(1, 1.1);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22); 
  }

.service-1 .card.card-shadow {
    border-radius: 1.5%;
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.service-1 .wrap-service1-box .card-body {
  padding: 40px;
}

.service-1 .btn-success-gradiant {
  background: #2cdd9b;
  background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
  background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
  background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
  border: 0px;
}

.service-1 .btn-success-gradiant:hover {
  background: #1dc8cc;
  background: -webkit-linear-gradient(legacy-direction(to right), #1dc8cc 0%, #2cdd9b 100%);
  background: -webkit-gradient(linear, left top, right top, from(#1dc8cc), to(#2cdd9b));
  background: -webkit-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
  background: -o-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
  background: linear-gradient(to right, #1dc8cc 0%, #2cdd9b 100%);
}

.service-1 .btn-md {
  padding: 15px 45px;
  font-size: 16px;
}

::-webkit-scrollbar:horizontal {
    display: none;
}




