<header *ngIf="navFix" class="navbarFixed">
  <app-navbar></app-navbar>
</header>



<!-- carousel -->
<div id="carouselExampleCaptions" class="carousel slide carousel-custom" data-ride="carousel" data-interval="3000">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    <!-- <li data-target="#carouselExampleCaptions" data-slide-to="3"></li> -->
  </ol>
  <div class="carousel-inner car-inner-custom">
    <div class="carousel-item active car-item1-custom">
      <div class="col-6 ">
        <div class="carousel-text">
          <p data-aos="fade-up" data-aos-duration="1000">One of the leading security service provider</p>
          <button data-aos="fade-up" data-aos-duration="1000" type="button" class="btn btn-light btn-lg carouselButton">
            Know more
          </button>
        </div>
      </div>
      <img src="../../assets/carousel/WhatsApp Image 2021-08-14 at 5.07.59 PM.jpeg" class="car-image d-block w-100"
        alt="..." />
    </div>
    <!-- <div class="carousel-item car-item1-custom d-none">
        <div class="col-6 carousel-col">
          <div class="carousel-text">
            <p data-aos="fade-up" data-aos-duration="1000">Technology focused supply chain solution Provider</p>
            <button data-aos="fade-up" data-aos-duration="1000" type="button" class="btn btn-light btn-lg carouselButton">
              Know more
            </button>
          </div>
        </div>
        <img src="../../assets/carousel/training photo dog.jpg" class="car-image d-block w-100" alt="..." />
      </div> -->
    <div class="carousel-item car-item1-custom">
      <div class="col-6">
        <div class="carousel-text">
          <p data-aos="fade-up" data-aos-duration="1000">
            Right Service + Right Time + Right User Experience
          </p>
          <button data-aos="fade-up" data-aos-duration="1000" type="button" class="btn btn-light btn-lg carouselButton">
            Know more
          </button>
        </div>
      </div>
      <img src="../../assets/carousel/gil-ribeiro-3hO8igCybds-unsplash.jpg" class="car-image d-block w-100" alt="..." />
    </div>
    <div class="carousel-item car-item1-custom">
      <div class="col-6">
        <div class="carousel-text">
          <p data-aos="fade-up" data-aos-duration="1000">
            Technology focused supply chain solution provider </p>
          <button data-aos="fade-up" data-aos-duration="1000" type="button" class="btn btn-light btn-lg carouselButton">
            Know more
          </button>
        </div>
      </div>
      <img src="../../assets/carousel/world-4292933_1280.jpg" class="car-image d-block w-100" alt="..." />
    </div>
  </div>
</div>


<nav id="navbarBottom" class="navScroll mb-2">
  <app-navbar></app-navbar>
</nav>



<!--carousel ends-->
<div class="afterNav">
  <div class="container text-center pt-5 pb-5">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-left" data-aos="fade-up" data-aos-duration="1000">
          Who we are
        </h2>
        <p class="paragraph-custom text-left mt-3 " data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
          Established in the year 2005, have been gaining wide expertise throughout the nation. We are committed towards
          quality
          and reliability of our wide array of service. We maintain our clientele, we have national expansion of our
          company in various states.
        </p>
      </div>
      <div class="col-md-6">
        <img src="" alt="image" />
      </div>
    </div>
  </div>

  <!--banner-->
  <div class="container-fluid" id="whoweare">
    <div class="row">
      <div *ngFor="let item of whoWeAre" class="col-md-3 text-center pt-4 pb-4">
        <img src="../../assets/{{ item.iconSrc }}" />
        <h2 style="color: white;">{{ item.type }}</h2>
        <h1 data-aos="fade-up" data-aos-duration="1000" [appCounterAnimation]="item.projectedNumber"></h1>
      </div>
    </div>
  </div>

  <!--banner ends-->

  <div class="container text-center pt-5 pb-5">
    <div class="row">
      <!-- <div class="col-lg-6">
        <h2 class="text-left mb-2" data-aos="fade-up" data-aos-duration="1000">
          What we do
          
        </h2>
        <div *ngFor="let item of ourServices" class="row">
          <div class="col-4">
            <img id="icon-whatwedo" src="../../assets/{{ item.icon }}" />
          </div>
          <div class="col-8">
            <p
              class="paragraph-custom text-left"
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-delay="500"
            >
              <strong>{{ item.service }}</strong
              ><br />
              {{ item.details }}
            </p>
          </div>
        </div>
      </div> -->

      <div class="col-md-7">
        <h2 class="text-left mb-2" data-aos="fade-up" data-aos-duration="1000">
          What we do

        </h2>
        <br />
        <br />
        <div *ngFor="let item of ourServices" class="row">
          <div class="col-4">
            <img id="icon-whatwedo" src="../../assets/{{ item.icon }}" />
          </div>
          <div class="col-8">
            <h5 class="paragraph-custom text-left" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
              <strong style=" color:#2f6d6b">{{ item.service }}</strong><br />
              <span style="text-align: center; font-size:16px;">
                {{ item.details }}
              </span>

            </h5><br /><br />
          </div>
        </div>
      </div>


      <div class="col-md-5 d-flex justify-content-center align-items-center">
        <img id="whatwedo-image" src="../../assets/collage.png" alt="image"
          style='height: 90%; width: 100%; object-fit: fill' />
      </div>
    </div>
  </div>


  <!--Testimonials-->

  <div class="col-12 pt-5 pb-5" id="testimonials">
    <div class="row">
      <div class="col-12">
        <h2 style="text-align: center;">Our Businesses</h2>
        <!-- <br> -->

        <div>
          <div class=" py-5 service-1">
            <div class="container">
              <!-- Row  -->
              <div class="row d-flex justify-content-center">
                <!-- Column -->
                <div data-aos="fade-up" data-aos-duration="1000" class="col-md-6 wrap-service1-box">
                  <div class="card border-0 card-shadow mb-4">
                    <div class="card-body text-center">
                      <div class="my-3">

                        <h5 class="font-weight-large">Exman Security Services Pvt Ltd</h5>
                        <!-- <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/features/feature1/market.png" alt="wrapkit" /> -->
                      </div>
                      <!-- <h6 class="font-weight-medium">Retargeting Market</h6> -->
                      <p class="mt-3" style="font-weight: 800;">As the right wing of ESS Group, Exman Security Services
                        offers a range of security
                        services, including Manned Guarding, Electronic Security, Risk Assessment Consultancy, Executive
                        Protection & Event Security in India. </p>
                    </div>
                  </div>

                </div>
                <!-- Column -->
                <div data-aos="fade-up" data-aos-duration="2000" class="col-md-6 wrap-service1-box">
                  <div class="card border-0 card-shadow mb-4">
                    <div class="card-body text-center">
                      <div class="my-3">

                        <h5 class="font-weight-large">Excellent Sparta Services Pvt Ltd</h5>
                        <!-- <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/features/feature1/market.png" alt="wrapkit" /> -->
                      </div>
                      <!-- <h6 class="font-weight-medium">Retargeting Market</h6> -->
                      <p class="mt-3" style="font-weight: 800;">As FACILITY MANAGEMENT & SUPPLY CHAIN vertical of ESS
                        Group, Excellent Sparta
                        Services offers a wide spectrum of Facility Management and Logistics service specific to the
                        diverse needs of the
                        customers throughout India. </p>
                    </div>
                  </div>
                </div>
                <!-- Column -->
                <!-- <div class="col-md-4 wrap-service1-box">
                  <div class="card border-0 card-shadow mb-4">
                    <div class="card-body text-center">
                      <div class="my-3"><img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/features/feature1/instant.png" alt="wrapkit" /></div>
                      <h6 class="font-weight-medium">Instant Solutions</h6>
                      <p class="mt-3">You can relay on our amazing features list and also our customer services will be great experience.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mt-3 text-center">
                  <a class="btn btn-success-gradiant text-white btn-md border-0" href="#f1"><span>View Details</span></a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!--Testimonals-->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="mb-3">What people are saying about ESS</h2>
          <br>
          <!-- <div
            id="carouselExampleCaptions2"
            class="carousel slide"
            data-ride="carousel"
            data-interval="2000"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <h4>
                      <strong>"</strong> 1Some quick example text to build on
                      the card title and make up the bulk of the card's content.
                    </h4>
                  </div>
                  <div class="col-md-6 d-none d-md-block mb-3">
                    <h4>
                      <strong>"</strong> 1Some quick example text to build on
                      the card title and make up the bulk of the card's content.
                    </h4>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <h4>
                      <strong>"</strong> 1Some quick example text to build on
                      the card title and make up the bulk of the card's content.
                    </h4>
                  </div>
                  <div class="col-md-6 d-none d-md-block mb-3">
                    <h4>
                      <strong>"</strong> 1Some quick example text to build on
                      the card title and make up the bulk of the card's content.
                    </h4>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <h4>
                      <strong>"</strong> 1Some quick example text to build on
                      the card title and make up the bulk of the card's content.
                    </h4>
                  </div>
                  <div class="col-md-6 d-none d-md-block mb-3">
                    <h4>
                      <strong>"</strong> 1Some quick example text to build on
                      the card title and make up the bulk of the card's content.
                    </h4>
                  </div>
                </div>
              </div>
            </div>
            <a
              class="carousel-control-prev"
              href="#carouselExampleCaptions2"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExampleCaptions2"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div> -->







          <div data-aos="flip-up" data-aos-duration="3000" class="container ">
            <div id="demo" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="carousel-caption">
                    <p>I wanted to write in to let you know how pleased I am with ESS's Security Services. They
                      installed a home security system
                      for me 3 years ago. The services has been excellent the whole time. The technician they sent out
                      was efficient,
                      knowledgeable, friendly,and informative. All of my questions regarding updating my system were
                      answered by the
                      professional office staff. I definitely recommend their Security Services to anyone in the market
                      for security. </p> <img src="https://i.imgur.com/lE89Aey.jpg">
                    <div id="image-caption">Nick Doe</div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="carousel-caption">
                    <p style="text-align: center;"> ESS has been the sole provider of our security needs for the last 9
                      years. We have found their security personnel to
                      always be alert, intelligent, and friendly. They have always been open to the never ending changes
                      that we requested
                      which were brought on by federal, industry, and corporate mandates. The guards are always
                      professionally groomed and
                      uniformed. In the rare instance when a small glitch in the system arose, it was always handled
                      promptly and to our
                      total satisfaction. I would highly recommend ESS as a security provider.</p> <img
                      src="https://i.imgur.com/QptVdsp.jpg" class="img-fluid">
                    <div id="image-caption">Cromption Greves</div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="carousel-caption">
                    <p>The level of service received from ESS. has been extremely beneficial to us. The communication
                      from the Management staff has been very good. Any and all questions are answered promptly and
                      acted upon with a sense
                      of urgency. The Security Officers they provide are always professional and are courteous to each
                      person they come in
                      contact with. ESS. service should be considered if your company is considering security services.
                    </p> <img src="https://i.imgur.com/jQWThIn.jpg" class="img-fluid">
                    <div id="image-caption">Harry Mon</div>
                  </div>
                </div>
              </div> <a class="carousel-control-prev carousel1-control-prev" href="#demo" data-slide="prev"> <i
                  class='fas fa-arrow-left'></i> </a> <a class="carousel-control-next carousel1-control-next"
                href="#demo" data-slide="next"> <i class='fas fa-arrow-right'></i> </a>
            </div>
          </div>

          <div class="row d-none" style="justify-content: center">
            <div class="card col-md-3 col-11">
              <div class="card-content">
                <div class="card-body p-0">
                  <div class="profile mb-4 mt-3"> <img src="https://i.imgur.com/Ur43esv.jpg"> </div>
                  <div class="card-subtitle">
                    <p> <small class="text-muted"> <i class="fas fa-quote-left"></i> Overall, I was impressed with the
                        teams look, and attitude. Everyone was ready, willing and able to complete all tasks put before
                        them. My only suggestion is keep doing what it is you are doing. This was my 6th event of this
                        type, with the help of your staff, we ran a great, safe, secure, and efficient operation from
                        every aspect.<i class="fas fa-quote-left fa-flip-horizontal"></i> </small> </p>
                  </div>
                  <div class="card-body company"> <i class="fab fa-ebay fa-2x"></i> <small class="intro text-muted">Sam
                      Diago, Marketer</small> </div>
                </div>
              </div>
            </div>
            <!-- <div class="card col-md-3 col-11 second">
                <div class="card-content">
                    <div class="card-body p-0">
                        <div class="profile mb-4 mt-3"> <img src="https://i.imgur.com/8RKXAIV.jpg"> </div>
                        <div class="card-subtitle">
                            <p> <small class="text-muted"> <i class="fas fa-quote-left "></i> I really enjoyed working with them, they are Group of Professionals and they know what they're Doing <i class="fas fa-quote-left fa-flip-horizontal"></i> </small> </p>
                        </div>
                        <div class="card-body company"> <i class="fab fa-amazon fa-2x"></i><small class="intro text-muted">Monty Jones, Software Developer</small> </div>
                    </div>
                </div>
            </div>
            <div class="card col-md-3 col-11 third">
                <div class="card-content">
                    <div class="card-body p-0">
                        <div class="profile mb-4 mt-3"> <img src="https://i.imgur.com/J6l19aF.jpg"> </div>
                        <div class="card-subtitle">
                            <p> <small class="text-muted"> <i class="fas fa-quote-left"></i> I always wanted cool videos of my concerts never knew whom to talk to but they are amazing! <i class="fas fa-quote-left fa-flip-horizontal"></i> </small> </p>
                        </div>
                        <div class="card-body company"> <i class="fab fa-yelp fa-2x"></i><small class="intro text-muted">John Tim, Tech Support</small> </div>
                    </div>
                </div>
            </div> -->
          </div>












        </div>
      </div>
    </div>
  </section>


  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Clientele</h2><br>
        <div class="row">
          <div data-aos="flip-up" data-aos-duration="3000" *ngFor="let item of ourPortfolio" class="col-6 col-md-3">
            <img style="margin: 1px; padding: 10px;" src="../../assets/essPortfolio/{{item.logo}}" height="100px"
              width="150px" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-6" id="form-col">
        <form class="pt-5 pb-5">
          <div class="form-group">
            <label for="name">Name <i class="fa fa-user"></i></label>
            <input class="form-control" type="text" placeholder="" />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address <i class="fa fa-envelope"></i></label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Message <i class="fa fa-comment"></i></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
  <router-outlet></router-outlet>